<style>
  #cnzz_stat_icon_1278750030{
    float: right;
  }
</style>
<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a><br/>
      友情连接: <a href="https://www.blog1997.com" target="_blank">blog1997</a>
      <script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1278750030'%3E%3C/span%3E%3Cscript src='https://s9.cnzz.com/z_stat.php%3Fid%3D1278750030%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    </div>
  </div>
</div>
</footer>