<% if (!page.isAboutMe) { %>
  <aside id="sidebar"<% if (theme.sidebar === 'bottom'){ %> class="outer"<% } %>>
    <% theme.widgets.forEach(function(widget){ %>
      <%- partial('_widget/' + widget) %>
    <% }) %>
    <% if (page.path.indexOf('index.html') === -1) { %>
      <div class="widget-wrap">
        <h3 class="widget-title"><%= __('archive_a') %></h3>
        <div class="widget">
          <%- toc(page.content) %>
        </div>
      </div>
    <% } %>
  </aside>
<% } %>