#sidebar
  position: -webkit-sticky
  position: sticky
  top: 0
  @media mq-normal
    column(sidebar-column)

.widget-wrap
  margin: block-margin 0

.widget-title
  @extend $block-caption

.widget
  color: color-sidebar-text
  // text-shadow: 0 1px blue
  background: color-widget-background
  box-shadow: 0 -1px 4px color-widget-border inset
  border: 1px solid color-widget-border
  padding: 15px
  border-radius: 3px
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc
.toc
  position: -webkit-sticky
  position: sticky
  top: 20px
  li
    margin: 7xp 0 0 15px
    color: color-sidebar-text
    // text-shadow: 0 1px #fff
    border-radius: 3px
    a
      margin-left: 15px
      color: color-link
      text-decoration: none
      &:hover
        text-decoration: underline
  .toc-child
    list-style: none